body{
    background-color: #F89C11;
    font-family: Arial;
}
#main-container{
    margin: 150px  auto;
    width: 600px;
}
table{
    background-color: white;
    border-collapse:collapse;
    text-align: left;
    width: 100%;
}
th,td{
    
    padding: 15px;
}
thead{
    background-color: #DBFF33;
    border-bottom: solid 5px;
}
tr:nth-child(even){
    background-color: #F9FF71;
}
