body{
    background-color: white;
    font-family: Arial;
}
#main-cont{
  margin: 100px auto;  
  width: 1200px;
}
table{
    background-color: white;
    text-align: center;
    width: 100%;
}
th,td{
    padding: 10px;
    width: auto;
}
thead{
    background-color: brown;
    border-bottom: solid 5px blue;
    color: white;
}
tr:nth-child(even){
    background-color: antiquewhite;
}
caption{
    font-size: 40px;
}