body{
    font-family: Arial;
}
#main-cont{
  margin: 100px auto;  
  width: 1200px;
}
table{
    background-color: white;
    text-align: center;
    width: 100%;
}
th,td{
    padding: 10px;
    width: auto;
}
thead{
    background-color: brown;
    border-bottom: solid 5px blue;
    color: white;
}
tr:nth-child(even){
    background-color: #FFBD33;
}
tr{
    font-size: 12   px;
}
.table{
    width: 30%;
    text-align: start;  
    
    
}
.container{
    padding: 50px;

}
.container1{
    padding-left: 80px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    color: black;
}
.contenedor{
    width: 100%;
    height: 5px;
    background: #FFBD33;
    border: 20px solid white;
    
    
}
#iconoC img{
    width: 100px;
    height: 100px;
    padding-top: 50px;
}
body{
    font-family: Arial;
}

.gridCabeza{
    display: grid;
    grid-template-columns: 140px 80% 20%;

}
.gridCabeza div{
    background-color: #ecf0f1;
    padding: 1em;   
}

#iconoC img{
    width: 100px;
    height: 100px;
    padding-top: 50px;
}
.gridCuerpo{
    display: grid;
    grid-template-columns: 80% 20%;
    
}
.gridNav {
    display: grid;
    grid-template-rows: 50% 50%;
    
}
.gridSection{
    display: grid;
    grid-template-columns: auto;
    
}
.lista{
    list-style: none;
    display: flex;
}
.lista li {
    padding: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.subConetiener{
    display: grid;
    grid-template-rows: 5% 60%;
    
}
.lista{
    background-color: bisque;
}

.lista a{
    color: black;
}
.gridSub{
    display: grid;
    grid-template-columns: 80% 20%;
}
.img{
    height: 75px;
    width: 218px;
    padding-top: 60px;
    text-align: center;
    background-color: beige;
}
.text{
    padding: 20px;
    text-align: justify;
}
.subContainer .noticiaTiltle{
    padding-bottom: 20px;
    font-weight: bold;
}
.subTitleNoticia{
    font-weight: bold;
}
.gridPie{
    display: grid;
    grid-template-columns: 100%;
    padding-top: 20px;
    margin-top: 30px;
    background-color: beige;
}
.subGridPie{
    display: grid;
    grid-template-columns: 100%;
    
}
.conten1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: beige;    
}
.conten2{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    padding-top: 20px;
}
.subContImagen{
    padding: 20px;
    padding-left: 50px;
    
}
.agrupadorContGridCuerpo{
    display: grid;
    grid-template-columns: 65% 35%;
    
    padding-left: 20px;
    background-color: bisque;
    margin-left: 50px;
    padding-bottom: 50px;
}


.subContainer1{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr ;
    padding-top: 20px;
}
.gridNav{
    margin-top: 100px;
    background-color: beige;
}
.menuGridNav {
    background-color: bisque;
    margin: 20px;
    padding: 20px;
    color: black;
    list-style: circle;
}
.subTT{
    padding-left: 0px;
}
.menuGridNav div{
    padding-left: 20px;
}
#icono img{
    width: 100px;
    height: 100px;
    padding-bottom: 20px;
}
#MwP h3{
    
    font-weight: 100;
}
.gridSubCabe{
    height: auto;
}
.contTexto{
    display: grid;
    grid-template-columns: 20% 80%;
    
    padding-bottom: 20px;
    width: 650px;
}
.subContainer22{
    padding:20px;
    background-color: white;
}

.subContainer22 div{
    font-weight: bold;
    font-size: 20px;
}
.subt{
    padding-left:58px;
    font-weight: bold;
    font-size: 25px;
}
.conteinerBTN{
    
    display: grid;
    grid-template-columns: 1fr  1fr  1fr;
    gap: 20px;
}
.btnN{
    height: 40px;
    width: 220px;
    border-radius: 20px;
    border: none;
    background-color:beige;
}